@model AppUser
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>


<form asp-controller="Users" asp-action="Edit" class="form-group">


    <input asp-for="Id" type="hidden"  class="form-control" />
    <br />

    <label asp-for="DisplayName">User Name</label>
    <input asp-for="DisplayName" type="text" class="form-control" />
    <br />

    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="text" class="form-control" />
    <br />

    <label asp-for="PhoneNumber">Phone Number</label>
    <input asp-for="PhoneNumber" type="text" class="form-control" />
    <br />


    <input type="submit" value="Edit" class="btn btn-primary btn-block" />
    <br />
    <a asp-action="index" type="button" class="btn btn-info " >Back to list</a>

</form>