@{
    ViewData["Title"] = "Home Page";
}





<div class="jumbotron">
    <h1 class="display-4">Welcome to noon dashboard!</h1>
    <hr class="my-4">
    <p>Get started by exploring the features of our dashboard.</p>
</div>


