html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Custom dropdown styles */
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%; /* Set the desired width for the dropdown */
}

/* Style the select element */
.custom-select {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none; /* Remove default styles for select (webkit browsers) */
    -webkit-appearance: none; /* Remove default styles for select (webkit browsers) */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Add a custom arrow icon (webkit browsers) */
    background-repeat: no-repeat;
    background-position: right 8px center;
}

/* Style the arrow icon */
.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

    /* Style the arrow icon (Font Awesome) */
    .dropdown-icon i {
        font-size: 12px;
    }
