
@model IdentityRole
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<form asp-controller="Roles" asp-action="Create" class="form-group">

    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" class="form-control" />
    <br />

    <input type="submit" value="Save" class="btn btn-primary btn-block" />
    <a asp-action="index" type="button" class="btn btn-info " style="margin-left:2rem">Back to list</a>

</form>

