@model IdentityRole
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>


<form asp-controller="Roles" asp-action="Delete" class="form-group">


    <label asp-for="Id">Id</label>
    <input asp-for="Id" type="text" readonly class="form-control" />
    <br />

    <label asp-for="Name">User Name</label>
    <input asp-for="Name" type="text" class="form-control" readonly />
    <br />



    <input type="submit" value="Delete" class="btn btn-primary btn-block" />
    <a asp-action="index" type="button" class="btn btn-info " style="margin-left:2rem">Back to list</a>

</form>

