@model ProductBrandDTO
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-controller="ProductBrand" asp-action="Create" class="form-group" method="post">
    <div class="m-2">
        <label asp-for="name" class="py-2">Brand Name</label>
        <input class="form-control" type="text" asp-for="name" />
        <div class="m-auto text-center">
            <span asp-validation-for="name" class="text-danger shadow-sm "></span>
        </div>
    </div>

    <div class="m-2">
        <label asp-for="logoUrl" class="py-2">
            Logo Url
        </label>
        <input class="form-control" type="text" asp-for="logoUrl" />
        <div class="m-auto text-center">
            <span asp-validation-for="logoUrl" class="text-danger shadow-sm"></span>
        </div>
    </div>


    


    




    <div style="margin-top:2rem">
        <input type="submit" class="btn btn-primary my-5 border shadow-5 px-5 py-3 rounded-3" value="Create Brand" />
        <a asp-action="index" type="button" class="btn btn-info " style="margin-left:2rem">Back to list</a>
    </div>


</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

