@model ProductBrandDTO
@{
    ViewData["Title"] = "Details";
}

<div class="row " style="width:75%; margin:auto ">
    <div class="p-5 card col-sd-12 col-md-7">
        <img src="@Model.logoUrl" class="card-img-top" alt="..." style="width:100%">
        <div class="card-body mb-3">
            <h4 class="card-title">Brand Name : @Model.name</h4>
        </div>

    </div>
</div>
<div style="width:60%; margin:auto ">
    <a asp-action="Index" class="btn btn-primary m-5 w-25" style="width:25%; margin-left:40px">Back to list</a>
    </div>



