@model ProductCatogryDetailsDTO
@{
    ViewData["Title"] = "Details";
}

<div class="row " style="width:75%; margin:auto ">
    <div class="p-5 card col-sd-12 col-md-7">
        <img src="@Model.imgUrl" class="card-img-top" alt="..." style="width:100%">
        <div class="card-body mb-3">
            <h4 class="card-title">Category Name : @Model.name</h4>
        </div>
        @if (Model != null && Model.parentCategory != null)
        {
            <h3>parentCategory : @Model.parentCategory</h3>
        }
        else
        {
            <p>parentCategory : null</p>
        }
    </div>
</div>
<div style="width:60%; margin:auto ">
    <a asp-action="Index" asp-controller="ProductCategory" class="btn btn-primary m-5 w-25" style="width:25%; margin-left:40px">Back to list</a>
</div>


