@model ProductCategoryDTO
@{
    ViewData["Title"] = "Edit";
    SelectList listItems = new SelectList(Model.productCategories, "id", "name");
}

<form asp-action="Edit" class="form-group" method="post">
    <input type="hidden" asp-for="id" />
    <div class="m-2">
        <label asp-for="name" class="py-2">Category Name</label>
        <input class="form-control" type="text" asp-for="name" />
        <div class="m-auto text-center">
            <span asp-validation-for="name" class="text-danger shadow-sm "></span>
        </div>
    </div>

    <div class="m-2">
        <label asp-for="imgUrl" class="py-2">
            Logo Url
        </label>
        <input class="form-control" type="text" asp-for="imgUrl" />
        <div class="m-auto text-center">
            <span asp-validation-for="imgUrl" class="text-danger shadow-sm"></span>
        </div>
    </div>

    @*<div class="form-group">
        <label asp-for="parentCategoryId" class="control-label">Parent Category Name</label>
        <select asp-for="parentCategoryId" asp-items="listItems" class="form-control">
            <option value="">-- Select Parent Category --</option>
        </select>
        <span asp-validation-for="parentCategoryId" class="text-danger"></span>
    </div>*@

    <div class="form-group">
        <div class="custom-dropdown">
            <select asp-for="parentCategoryId" asp-items="listItems" class="form-select custom-select">
                <option value="">-- Select Parent Category --</option>
            </select>
            <span class="dropdown-icon">
                <i class="fas fa-chevron-down"></i> <!-- Add a down arrow icon or any other icon of your choice -->
            </span>
        </div>
        <span asp-validation-for="parentCategoryId" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-center align-content-center  my-3">
        <input type="submit" class="btn btn-success my-5 border shadow-5 px-5 py-3 rounded-3" value="Save" />
    </div>
</form>

<a asp-action="Index" class="btn btn-primary ">Back to list</a>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


